{% extends "base.html" %}
{% block title %}Bootstrap blog {% endblock %}


{%block content%}
<section class="article-main">
  <div class="container">
    <div class="row">
      <main class="col-md-8">
        
        <article class="article-post">
          <div class="article-heading">

            <h1 class="article-heading-title">{{ articles_dea.title }}</h1>
            <div class="article">
              <h6>作者：<a href="#">{{ articles_dea.author }}</a>·{{ articles_dea.date }}</h6>
            </div>
          </div>
          <div class="article-content">
            <p>{{ articles_dea.content|safe }}</p>
            <p><img width="50%" height="50%" src='../../../{{ articles_dea.article_pic.url}}'></p>
          </div>
          <!--<div class="article-read">
            <button type="button" class="btn btn-info">阅读全文</button>
          </div>-->
        
            <footer>
                <HR>
              <span class="glyphicon glyphicon-tags">
                {{art.article_tag.tag_name}}
              </span>
            </footer>
          
        </article>
        
      </main>
      <!--<aside class="col-md-4">
        <div class="widget">
          <h4 class="title">标签云</h4>
          <hr>
          <div class="content tag-cloud">
            <a class="tab-a" href="#">java<span class="badge tag-badge">21</span></a>
            <a class="tab-a" href="#">python<span class="badge tag-badge">2</span></a>
            <a class="tab-a" href="#">nodejs</a>
            <a class="tab-a" href="#">php</a>
            <a class="tab-a" href="#">c++</a>
          </div>
        </div>
        <div class="widget">
          <h4 class="title">文章搜索</h4>
          <hr>
          <div class="input-group">
            <input type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span>
          </div>
        </div>
        <div class="widget">
          <h4 class="title">最热文章</h4>
          <hr>
          <ul class="list-group">
            <li class="list-group-item">免费域名注册</li>
            <li class="list-group-item">免费 Window 空间托管</li>
            <li class="list-group-item">图像的数量</li>
            <li class="list-group-item">24*7 支持</li>
            <li class="list-group-item">每年更新成本</li>
          </ul>
        </div>
      </aside>
      <div class="col-md-4 col-md-offset-4">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li class="active"><a href="#">1</a></li>
          <li class="disabled"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

      </div>-->
      {% include 'aside.html' %}
    </div>
  </div>
</section>
{% endblock %}     
